
.container {
  min-height: 100vh;
  background-color: #51befb;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.grid {
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}

.form {
  flex: 1;
}

.schedule {
  flex: 2;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 2fr;
  }
}
